main {
    height: 200vh;
}
.navbar{
background-color:white;
height: 50px;
font-size: 25px;
padding: 20px;
display:flex;
justify-content: flex-start;
gap: 100px;
&:hover{
background-color:rgb(102, 102, 102);
transition: all .4s linear;
}
position: sticky;
top: 10px;
}
.navbar a{
color: rgb(153, 164, 234);
text-decoration:none ;
&:hover{
color: white;
}
}
@font-face {
    font-family: "NarrowNews";
    src: url("./fonts/ClanOT-NarrowNews.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}